@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

:root {
  --primary-color: #f5742e;
  --primary-light-color: #F9EDE0;
  --primary-filter: brightness(0) saturate(100%) invert(50%) sepia(13%) saturate(2800%) hue-rotate(339deg) brightness(102%) contrast(92%);
  --white-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(299deg) brightness(104%) contrast(102%);
  // --grey-filter: brightness(0) saturate(100%) invert(46%) sepia(6%) saturate(677%) hue-rotate(167deg) brightness(95%) contrast(81%);
  --grey-filter: brightness(0) saturate(100%) invert(59%) sepia(0%) saturate(2297%) hue-rotate(45deg) brightness(98%) contrast(90%);
  --primary-bg-color: #F5742E1F;
  --secondary-color: #0000008C;
  --info-color: #5990fa;
  --danger-color: #ea4335;
  --pale-color: #00000029; //#adb5bd;
  font-family: 'Noto Sans TC', sans-serif;
}

/* modal */
.modal {
  top: 50%;
  transform: translateY(-50%);
}
.modal-header .btn-close {
  padding: 1rem;
}
.modal-body {
  padding: 1rem 2rem 2rem 2rem;
}
/* font */
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.text-second {
  color: #0000008C;
}
.text-gray-800 {
  color: var(--bs-gray-800)
}
/* nav */
.nav-tab-primary {
  font-size: 22px;
  color: var(--primary-color);
  opacity: 0.5;
  margin-bottom: 0;
  &.nav-tab-primary.active {
    opacity: 1;
    border-bottom: 6px solid #F5742E;
  }
}
/* image */
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* button */
.btn-outline-primaryA {
  border-radius: 50rem;
  border: 1px solid var(--primary-color);
}
.btn-outline-primaryA, .btn-outline-primaryB{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
  padding: 0.4rem 2rem;
  color: var(--primary-color);
  & .icon {
      filter: var(--primary-filter);
  }
}
.btn-outline-primaryA.active, .btn-outline-primaryA:hover,
.btn-outline-primaryB.active, .btn-outline-primaryB:hover {
  color: #fff;
  background-color: var(--primary-color);
  & .icon {
      filter: var(--white-filter);
  }
}
/* form */
input::placeholder {
  color: var(--pale-color)!important;
}
input:not([type="checkbox"]):focus,
input:not([type="checkbox"]).form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
}
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* remove-decoration */
a {
  transition: 0.1s linear;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
ul {
  padding: 0 12px;
}
ul li{
  list-style: none;
}
/* other */
.roundedM {
  border-radius: 10px;
}
.mb-100 {
  margin-bottom: 100px;
}

